.popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
    max-width: 430px;
    padding-left: 36px;
    padding-right: 36px;
    opacity: 1;
    z-index: 900;
    border-radius: 10px;
}