.popup__error_visible {
    display: block;
    position: relative;
    margin-top: -30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: red;
    box-sizing: border-box;
    min-height: 30px;
}

@media screen and (max-width: 724px) {
    .popup__error_visible {
        max-width: 238px;
        margin: 0 22px 0px 22px;
    }
}