.popup__name {
    border: 0;
    border-bottom: 1px solid grey;
    width: 358px;
    height: 27px;
    margin-bottom: 30px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}

.popup__name:focus {
    outline: none;
}

@media screen and (max-width: 724px) {
    .popup__name {
        width: 238px;
        margin-left: 22px;
        padding: 0;
    }
}