.profile__add-button {
    margin: auto 0 auto auto;
    width: 150px;
    border: solid 2px rgba(255, 255, 255, 1);
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../../../images/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 2px;
    padding-top: 23px;
    padding-bottom: 23px;

}

.profile__add-button:hover {
    opacity: 0.6;

}

@media screen and (max-width: 1024px) {
    .profile__add-button {
        margin-left: 0;
    }
}

@media screen and (max-width: 724px) {
    .profile__add-button {
        margin: 0;
        width: 100%;
        background-size: 16px 16px;
    }
}